* {
  box-sizing: border-box;
}

/* styling for nav section */
nav {
  display: flex;
  flex-wrap: wrap;
  background-color: gold;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
  height: auto;
  padding: 20px;
}

.navList {
  /* display: flex; */
  flex-direction: column;
  color: blue;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  width: 100%;
  border: 5px solid black;
  background-color: aqua;
  border: 5px solid black;
  height: auto;
  padding: 20px;
  color: blue;
  /* margin: auto; */
}

.completed-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 100%;
  color: blue;
  height: auto;
  border: 5px solid black;
  background-color: aqua;
}

.app-1-img {
  height: 260px;
  width: 100%;
}

img {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.contact-info {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: gold;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  height: 300px;
  padding: 20px;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  max-width: 550px;
}

.projects div {
  margin: auto;
}

.description {
  font-size: 20px;
  padding: 20px;
}

.site-description {
  font-size: 20px;
}
.link-to-top {
  position: absolute;
  bottom: 10px;
  right: 40px;
  padding: 4px;
  border: 1px solid black;
  background-color: red;
  color: black;
}
